.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__
*/__pycache__/*


*.pth
*.pt
*.tar
*.tar.gz
*.out
*.txt
*.ipynb

*.png
*.jpg
*.PNG
*.JPG
*.jpeg
*.JPEG


parser/dataset/

!parser/hybridnets_parsing_sample.ipynb

